fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
python-dotenv==1.0.1
pydantic-settings==2.7.1
aiofiles==24.1.0
langchain==0.3.18
PyMuPDF==1.25.5
motor==3.7.0
pydantic-mongo==3.1.0
openai==1.66.3
cohere==5.14.0
qdrant-client==1.13.2
SQLAlchemy==2.0.37
asyncpg==0.30.0
alembic==1.14.1
psycopg2-binary==2.9.10
pgvector==0.4.2
nltk==3.9.1
